@charset "utf-8"

@import mixins/_rwd
@import mixins/_font
@import mixins/_universal

*
    box-sizing: border-box

body
    background: #f2efed

.container
    margin: 0 auto
    width: 1280px
    max-width: 100%

    +breakpoint(zone-nb)
        max-width: calc(100% - 40px)

    &.full-40
        width: calc(100% - 40px)
        max-width: calc(100%)
        
    &.full-160
        width: calc(100% - 160px)
        max-width: calc(100%)

        +breakpoint(pad-portrait)
            width: calc(100% - 80px)

[class*="btn"]
    padding: 18px 25px 18px 30px
    position: absolute
    display: flex
    align-items: center
    right: 20px
    bottom: 0
    background: white
    z-index: 3

    +small
    +default-color

    .img
        margin-right: 5px
        display: inline-block
        width: 32px
        height: 32px
        background-repeat: no-repeat
        background-size: cover
        background-position: center

    span
        display: inline-block


// banner
.banner
    position: relative

    .banner-img
        width: 100%
        padding-bottom: 50.8%
        position: relative
        background-size: cover
        background-repeat: no-repeat
        background-position: center

        +breakpoint(pad-portrait)
            padding-bottom: calc(100vh - 40px)

        &:after
            content: ''
            position: absolute
            top: 0
            right: 0
            height: 100%
            width: 70%
            background-image: url(../images/wave-01.png)
            background-size: contain
            background-repeat: no-repeat
            background-position: right bottom
            z-index: 1

        &:before
            content: ''
            position: absolute
            bottom: -40px
            left: calc((100vw - 1280px - 80px)*0.5)
            height: 100%
            width: 60%
            background-image: url(../images/banner-text-01.png)
            background-size: contain
            background-repeat: no-repeat
            background-position: left bottom
            z-index: 2

            +breakpoint(zone-nb)
                left: calc((100vw - 100% - 40px)*0.5)

            +breakpoint(pad-portrait)
                width: 100%
                bottom: 10px

    .btn-scroll-down
        bottom: 40px

        +breakpoint(zone-nb)
            bottom: 0


// service
.service
    margin-top: -40px
    position: relative
    z-index: 2
    +breakpoint(zone-nb)
        margin-top: 0

    .decoration-layer
        margin-left: 80px
        width: calc(100% - 80px)

        +breakpoint(pad-portrait)
            margin-left: 0
            margin-top: 20px
            width: 100%

        &:after
            content: ''
            position: absolute
            bottom: -250px
            left: calc(50% - 33px)
            width: 100vw
            height: 713px
            background-image: url(../images/wave-02.png)
            background-repeat: no-repeat
            background-size: contain
            background-position: left
            transform: translateX(-50%)
            z-index: -1
            pointer-events: none

            +breakpoint(zone-nb)
                bottom: -400px

    .service-card
        margin-left: 95px
        position: relative
        background: white
        border-radius: 0 0 0 30px
        box-shadow: 0px 0px 20px 20px rgba(0,0,0,0.05)

        +breakpoint(zone-nb)
            margin: 0

        &:after
            content: ''
            position: absolute
            height: calc(100% - 100px)
            bottom: 0
            left: -100px
            width: 1px
            background: rgba(black, 0.2)

            +breakpoint(zone-nb)
                left: -60px

            +breakpoint(pad-portrait)
                left: -40px

    .title-box
        padding: 25px 40px
        display: inline-block
        background: $darkGold

        +breakpoint(pad-portrait)
            padding: 15px 20px

        span
            +display2
            +default-white-color

            small
                position: relative
                bottom: -2px

                +title2
                +secondary-white-color

                +breakpoint(pad-portrait)
                    font-size: 70%

                &:before
                    content: '╱'
                    padding: 0 10px
                    position: relative
                    bottom: 2px
                    font-size: 20px

    .content-box
        padding: 40px 50px
        display: inline-flex
        flex-wrap: wrap

        +breakpoint(pad-portrait)
            padding: 15px

        .card
            margin-right: 50px
            display: flex
            flex-wrap: wrap
            justify-content: center
            align-items: center
            width: calc(33.333% - (50px*2/3))
            border-bottom: 1px solid rgba(black, 0.2)

            &:nth-child(3n)
                margin-right: 0
            
            +breakpoint(pad-portrait)
                margin-right: 20px !important
                width: calc(50% - 10px)

                &:nth-child(2n)
                    margin-right: 0 !important

            div
                width: 100%

            .img
                width: 90px
                height: 90px
                background-repeat: no-repeat
                background-size: cover
                background-position: center
            
                +breakpoint(pad-portrait)
                    width: 60px 
                    height: 60px

            .title
                +subHeader2
                +default-color
                
                +breakpoint(pad-portrait)
                    font-size: 16px
                    margin: 20px 0 10px 0

            .content
                padding: 0 10px

                +body
                +default-color
                
                +breakpoint(pad-portrait)
                    font-size: 12px
                    margin-bottom: 20px


// feature
.feature
    .feature-card
        padding: 60px 0
        position: relative

        &:after
            content: ''
            position: absolute
            left: -80px
            top: 0
            width: calc(50% + 50vw - 50px)
            height: 100%
            background-image: url(../images/feature-01.jpg)
            background-size: cover
            background-repeat: no-repeat
            border-radius: 0px 0px 30px 0px
            z-index: -1

            +breakpoint(pad-portrait)
                width: calc(100vw - 20px)
                left: -40px

        .title
            +display2
            +default-white-color

        .intro
            +body
            +secondary-white-color

            +breakpoint(zone-nb)
                font-size: 14px

        ul
            display: flex
            flex-wrap: wrap
            justify-content: center
            align-items: center

            li
                margin-right: 40px
                padding: 70px 24px
                width: calc(25% - (40px*3/4))
                background: rgba(white, 0.2)
                border: 1px solid rgba(white, 0.2)
                box-sizing: border-box

                &:last-child
                    margin-right: 0

                +breakpoint(pad-portrait)
                    padding: 30px 15px
                    margin: 0
                    margin-bottom: 10px
                    background: rgba(white, 0.2)
                    border: 0px
                    width: 100%

                .content
                    +title2
                    +default-white-color

                .des
                    +body
                    +secondary-white-color
                    

// works
.works
    padding: 100px 0 80px
    
    .works-card
        position: relative
        
        &:after
            content: ''
            position: absolute
            right: -80px
            top: 0
            width: calc(50% + 50vw - 90px)
            height: 100%
            border-radius: 0px 0px 0px 30px
            background: white
            z-index: -1

            +breakpoint(pad-portrait)
                width: calc(65% + 65vw - 90px)
                right: -40px
        
    .title-box
        padding: 25px 0px
        display: inline-flex
        justify-content: space-between
        flex-wrap: wrap
        width: 100%

        span
            +display2
            +default-color

            small
                position: relative
                bottom: -2px

                +title2
                +secondary-color

                &:before
                    content: '╱'
                    padding: 0 10px
                    position: relative
                    bottom: 2px
                    font-size: 20px
    
        .function-box
            position: relative
            width: 100%
            right: 0px
            top: 0px

            .filter
                margin-right: 0
                height: 100%
                display: flex
                align-items: center

                +breakpoint(pad-portrait)
                    display: flex
                    flex-wrap: wrap
            
                li
                    margin-right: 30px
                    
                    &:last-child
                        margin: 0

                    +breakpoint(pad-portrait)
                        margin: 0
                        margin-bottom: 10px !important
                        width: 33.33%

                    &:hover,
                    &.active
                        a
                            padding-left: 40px
                            color: #c69a6c
                            
                            &:before
                                width: 30px
                                background: #c69a6c

                    a
                        padding-left: 0px
                        position: relative
                        transition: .3s ease
                        
                        +secondary-color
                        
                        &:before
                            content: ''
                            position: absolute
                            top: 50%
                            left: 0
                            width: 0px
                            height: 1px
                            background: rgba(0, 0, 0, 0.55)
                            transition: .3s ease
                        
    .card-box
        display: inline-flex
        flex-wrap: wrap
        width: 100%
        
        .work-card
            margin-bottom: 40px
            margin-right: 35px
            width: calc(33.333% - (70px/3))

            +breakpoint(pad-portrait)
                margin-right: 0px !important
                width: 100%
            
                &:nth-child(2n)
                    margin-right: 0px !important
            
            &:nth-child(3n)
                margin-right: 0
                
            .img-box
                position: relative
                
                img
                    max-width: 100%
                    background-size: cover
                    background-repeat: no-repeat
                    background-position: center
                    border: 1px solid rgba(black, 0.05)
                    
                .color-box
                    padding: 15px 60px
                    position: absolute
                    right: 0
                    bottom: -5px
                    color: white
                    background: rgba(black, 0.7)
                    pointer-events: none
                    
                    &:hover
                        background: rgba(black, 0.5)

                    +breakpoint(pad-portrait)
                        padding: 15px 40px
            
            .title
                padding: 20px 0
                border-bottom: 1px solid #d8d8d8
                
                +body
                +default-color