doctype html
html(lang='zh-Hant-TW')
	head
		meta(charset='UTF-8')
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(http-equiv='X-UA-Compatible' content='ie=edge')
		meta(content='yes' name='apple-mobile-web-app-capable')
		meta(content='black' name='apple-mobile-web-app-status-bar-style')
		meta(content='telephone=no' name='format-detection')
		meta(name='title' content='')
		meta(name='author' content='')
		meta(name='copyright' content='')
		meta(name='robots' content='none')
		script.
			// 共用參數
		script(src='script/jquery/jquery-3.6.0.js')
		script.
			$(document).ready(function() {
				$(window).scroll(function() {
					var ww = $(window).scrollTop();
					if (ww > 100) {
						$('.header').addClass('fix');
					} else {
						$('.header').removeClass('fix');
					}
				});
				$('.burger').on('click', function () {
					$(this).find('span').toggleClass('open');
					$(this).find('ul').slideToggle();
				}); 
			});
		link(rel='stylesheet' href='styles/reset.css')
		link(rel='stylesheet' href='styles/custom.css')
		link(rel='stylesheet' href='styles/header.css')
		link(rel='stylesheet' href='styles/footer.css')
		title Erduo Index page
	body
		.header.fixed
			.container.flex.f-V-B
				.logo
					.img(style="background-image: url('images/logo-white.svg')")
				ul.menu.flex.f-R
					li
						a.t-C.inline-block.relative(href='#index')
							| 首頁
							span.inline-block.absolute Home
					li
						a.t-C.inline-block.relative(href='#service')
							| 服務
							span.inline-block.absolute Service
					li
						a.t-C.inline-block.relative(href='#works')
							| 作品
							span.inline-block.absolute Works
					li
						a.t-C.inline-block.relative(href='#contact')
							| 聯絡我們
							span.inline-block.absolute Contact
				.burger
					span
					ul
						li
							a.t-C.inline-block.relative(href='#index')
								| 首頁
						li
							a.t-C.inline-block.relative(href='#service')
								| 服務
						li
							a.t-C.inline-block.relative(href='#works')
								| 作品
						li
							a.t-C.inline-block.relative(href='#contact')
								| 聯絡我們

		.banner.p-T-20
			.container.full-40
				.banner-img.relative(style="background-image: url('images/banner-01.jpg')")
				a.btn-scroll-down(href='#content')
					.img(style="background-image: url('images/icons/icon-mouse.png')")
					span
						| Scroll
						| down
		.service.m-B-100
			.container.full-40
				.decoration-layer
					.service-card
						.title-box
							span
								| 服務
								small Service
						ul.content-box
							li.card.m-B-40
								.img(style="background-image: url('images/icons/icon-rwd.png')")
								.title.m-T-60.m-B-30.t-C 響應式網頁設計
								.content.m-B-40.t-C 只要做一個網站的費用，就可以跨平台使用，解決多種裝置的瀏覽的問題。
							li.card.m-B-40
								.img(style="background-image: url('images/icons/icon-code.png')")
								.title.m-T-60.m-B-30.t-C 響應式網頁設計
								.content.m-B-40.t-C 只要做一個網站的費用，就可以跨平台使用，解決多種裝置的瀏覽的問題。
							li.card.m-B-40
								.img(style="background-image: url('images/icons/icon-seo.png')")
								.title.m-T-60.m-B-30.t-C 響應式網頁設計
								.content.m-B-40.t-C 只要做一個網站的費用，就可以跨平台使用，解決多種裝置的瀏覽的問題。
							li.card.m-B-40
								.img(style="background-image: url('images/icons/icon-system.png')")
								.title.m-T-60.m-B-30.t-C 響應式網頁設計
								.content.m-B-40.t-C 只要做一個網站的費用，就可以跨平台使用，解決多種裝置的瀏覽的問題。
							li.card.m-B-40
								.img(style="background-image: url('images/icons/icon-payment-flow.png')")
								.title.m-T-60.m-B-30.t-C 響應式網頁設計
								.content.m-B-40.t-C 只要做一個網站的費用，就可以跨平台使用，解決多種裝置的瀏覽的問題。
							li.card.m-B-40
								.img(style="background-image: url('images/icons/icon-design.png')")
								.title.m-T-60.m-B-30.t-C 響應式網頁設計
								.content.m-B-40.t-C 只要做一個網站的費用，就可以跨平台使用，解決多種裝置的瀏覽的問題。
		.feature
			.container.full-160
				.feature-card
					.title.t-C.m-B-20 SINCE 2018
					.intro.t-C.m-B-40
						| 團隊從團隊從2018成立，陸續服務許多客戶
						br
						| 專業的服務深受肯定
					ul.t-C
						li.card
							.content.m-B-20 50+
							.des 專案完成數
						li.card
							.content.m-B-20 1~2 W
							.des 製作時間
						li.card
							.content.m-B-20 6Y
							.des 工程師平均年資
						li.card
							.content.m-B-20 666
							.des 好評數
		.works
			.container.full-160
				.works-card
					.title-box
						span
							| 作品
							small Works
						.function-box
							ul.filter
								li.option
									a.active(href='javascript:;' data-filter='all') 全部
								li.option
									a(href='javascript:;' data-filter='01') 網頁
								li.option
									a(href='javascript:;' data-filter='02') 系統
								li.option
									a(href='javascript:;' data-filter='03') LOGO
								li.option
									a(href='javascript:;' data-filter='04') UI/X
								li.option
									a(href='javascript:;' data-filter='05') CI設計
					ul.card-box
						.work-card
							.img-box
								.img(style='background-image: url(./images/works-01.jpg)')
								a.color-box(href='javascript:;') Detail
							.title 介紹標題介紹標題
						.work-card
							.img-box
								.img(style='background-image: url(./images/works-02.jpg)')
								a.color-box(href='javascript:;') Detail
							.title 介紹標題介紹標題
						.work-card
							.img-box
								.img(style='background-image: url(./images/works-03.jpg)')
								a.color-box(href='javascript:;') Detail
							.title 介紹標題介紹標題
						.work-card
							.img-box
								.img(style='background-image: url(./images/works-04.jpg)')
								a.color-box(href='javascript:;') Detail
							.title 介紹標題介紹標題
						.work-card
							.img-box
								.img(style='background-image: url(./images/works-05.jpg)')
								a.color-box(href='javascript:;') Detail
							.title 介紹標題介紹標題
						.work-card
							.img-box
								.img(style='background-image: url(./images/works-06.jpg)')
								a.color-box(href='javascript:;') Detail
							.title 介紹標題介紹標題
		.footer
			.container
				.logo
					.img(style="background-image: url('images/logo-golden.svg')")
				.contact
					.title.m-B-30 Contact Us
					ul.info-box
						li.m-B-10
							| Tel:
							span +886 988519746
						li
							| E-mail:
							span wayne19921106@gmail.com
