doctype html
html(lang="zh-Hant-TW")
    head
        include includes/meta.pug
        include includes/link.pug
        include includes/script.pug
        
        link(rel="stylesheet" href="styles/reset.css")
        link(rel="stylesheet" href="styles/custom.css")
        link(rel="stylesheet" href="styles/header.css")
        link(rel="stylesheet" href="styles/footer.css")
        title Erduo Index page

    body
        include includes/module/header.pug

        include includes/module/banner.pug
        include includes/module/service.pug
        include includes/module/feature.pug
        include includes/module/works.pug
        
        include includes/module/footer.pug