.feature
    .container.full-40
        .feature-card
            .title.t-C.m-B-20 SINCE 2018
            .intro.t-C.m-B-40 團隊從團隊從2018成立，陸續服務許多客戶
                br
                | 專業的服務深受肯定
            ul.t-C
                li.card
                    .content.m-B-20 50+
                    .des 專案完成數
                li.card
                    .content.m-B-20 1~2 W
                    .des 製作時間
                li.card
                    .content.m-B-20 6Y
                    .des 工程師平均年資
                li.card
                    .content.m-B-20 666
                    .des 好評數