<div class="feature">
	<div class="container full-160">
		<div class="feature-card">
			<div class="title t-C m-B-20">SINCE 2018</div>
			<div class="intro t-C m-B-40">團隊從團隊從2018成立，陸續服務許多客戶<br>專業的服務深受肯定</div>
			<ul class="t-C">
				<li class="card">
					<div class="content m-B-20">50+</div>
					<div class="des">專案完成數</div>
				</li>
				<li class="card">
					<div class="content m-B-20">1~2 W</div>
					<div class="des">製作時間</div>
				</li>
				<li class="card">
					<div class="content m-B-20">6Y</div>
					<div class="des">工程師平均年資</div>
				</li>
				<li class="card">
					<div class="content m-B-20">666</div>
					<div class="des">好評數</div>
				</li>
			</ul>
		</div>
	</div>
</div>