.header.fixed
	.container.flex.f-V-B
		.logo
			.img(style="background-image: url('images/logo-white.svg')")
		ul.menu.flex.f-R
			li
				a.t-C.inline-block.relative(href="#index") 首頁
					<span class="inline-block absolute">Home</span></a></li>
			li
				a.t-C.inline-block.relative(href="#service") 服務
					<span class="inline-block absolute">Service</span></a>
			li
				a.t-C.inline-block.relative(href="#works") 作品
					<span class="inline-block absolute">Works</span></a></li>
			li
				a.t-C.inline-block.relative(href="#contact") 聯絡我們
					<span class="inline-block absolute">Contact</span>