.service.m-B-100(id="service")
	.container.full-40
		.decoration-layer
			.service-card
				.title-box
					span 服務
						small Service
				ul.content-box
					li.card.m-B-40
						.img(style="background-image: url('images/icons/icon-rwd.png')")
						.title.m-T-60.m-B-30.t-C 響應式網頁設計
						.content.m-B-40.t-C 只要做一個網站的費用，就可以跨平台使用，解決多種裝置的瀏覽的問題。
					li.card.m-B-40
						.img(style="background-image: url('images/icons/icon-code.png')")
						.title.m-T-60.m-B-30.t-C 響應式網頁設計
						.content.m-B-40.t-C 只要做一個網站的費用，就可以跨平台使用，解決多種裝置的瀏覽的問題。
					li.card.m-B-40
						.img(style="background-image: url('images/icons/icon-seo.png')")
						.title.m-T-60.m-B-30.t-C 響應式網頁設計
						.content.m-B-40.t-C 只要做一個網站的費用，就可以跨平台使用，解決多種裝置的瀏覽的問題。
					li.card.m-B-40
						.img(style="background-image: url('images/icons/icon-system.png')")
						.title.m-T-60.m-B-30.t-C 響應式網頁設計
						.content.m-B-40.t-C 只要做一個網站的費用，就可以跨平台使用，解決多種裝置的瀏覽的問題。
					li.card.m-B-40
						.img(style="background-image: url('images/icons/icon-payment-flow.png')")
						.title.m-T-60.m-B-30.t-C 響應式網頁設計
						.content.m-B-40.t-C 只要做一個網站的費用，就可以跨平台使用，解決多種裝置的瀏覽的問題。
					li.card.m-B-40
						.img(style="background-image: url('images/icons/icon-design.png')")
						.title.m-T-60.m-B-30.t-C 響應式網頁設計
						.content.m-B-40.t-C 只要做一個網站的費用，就可以跨平台使用，解決多種裝置的瀏覽的問題。
	
