
.works(id="works")
	.container.full-160
		.works-card
			.title-box
				span 作品
					small Works
				.function-box
					ul.filter
						li.option.active(data-filter="all")
							a(href="javascript:;") 全部
						li.option(data-filter="Web")
							a(href="javascript:;") 網頁
						li.option(data-filter="Sys")
							a(href="javascript:;") 系統
						li.option(data-filter="Logo")
							a(href="javascript:;") LOGO
						li.option(data-filter="Uix")
							a(href="javascript:;") UI/X
						li.option(data-filter="Ci")
							a(href="javascript:;") CI設計

			ul.card-box
				.work-card(data-cate="all Logo")
					a.img-box(href="javascript:;")
						img(src="./images/works-01.jpg", data-original="images/works-01.jpg")
						.color-box Detail
					.title 社子島查估系統

				.work-card(data-cate="all Logo")
					.img-box
						img(src="./images/works-02.jpg", data-original="images/works-02.jpg")
						.color-box Detail
					.title 幼教聯盟

				.work-card(data-cate="all Logo")
					a.img-box(href="javascript:;")
						img(src="images/works-03.jpg", data-original="images/works-03.jpg")
						.color-box Detail
					.title Crc兒童權利公約

				.work-card(data-cate="all Sys")
					a.img-box(href="javascript:;")
						img(src="images/works-04.jpg", data-original="images/works-04.jpg")
						.color-box Detail
					.title 司法改革進度資訊平台

				.work-card(data-cate="all Web")
					a.img-box(href="javascript:;")
						img(src="images/works-05.jpg", data-original="images/works-05.jpg")
						.color-box Detail
					.title 2020北美獎徵件平台

				.work-card(data-cate="all Sys")
					a.img-box(href="javascript:;")
						img(src="images/works-06.jpg", data-original="images/works-06.jpg")
						.color-box Detail
					.title erduo 爾多官方網站