.works
    .container.full-40
        .works-card
            .title-box
                span 作品
                    small Works
                .function-box
                    ul.filter
                        li.option
                            a(href="javascript:;" data-filter="all") 全部
                        li.option
                            a(href="javascript:;" data-filter="01") 網頁
                        li.option
                            a(href="javascript:;" data-filter="02") 系統
                        li.option
                            a(href="javascript:;" data-filter="03") LOGO
                        li.option
                            a(href="javascript:;" data-filter="04") UI/X
                        li.option
                            a(href="javascript:;" data-filter="05") CI設計
                            
            ul.card-box
                include works-card.pug
                include works-card.pug
                include works-card.pug
                include works-card.pug
                include works-card.pug
                include works-card.pug
                include works-card.pug
                    