.header
    .container.flex.f-V-B
        .logo
            .img(style="background-image: url('images/logo-white.png')")

        ul.menu
            li
                a(href="#index") 首頁
            li
                a(href="#services") 服務
            li
                a(href="#works") 作品
            li
                a(href="#contact") 聯絡我們