.header.fixed
    .container.flex.f-V-B
        .logo
            .img(style="background-image: url('images/logo-white.svg')")

        ul.menu.flex.f-R
            li
                a.t-C.inline-block.relative(href="#index") 首頁
                    span.inline-block.absolute Home
            li
                a.t-C.inline-block.relative(href="#service") 服務
                    span.inline-block.absolute Service
            li
                a.t-C.inline-block.relative(href="#works") 作品
                    span.inline-block.absolute Works
            li
                a.t-C.inline-block.relative(href="#contact") 聯絡我們
                    span.inline-block.absolute Contact