@font-face {
  font-family: GenRyuMin;
  font-weight: 100;
  src: url(../font/GenRyuMin-B.ttc);
}
@font-face {
  font-family: GenRyuMin;
  font-weight: 200;
  src: url(../font/GenRyuMin-EL.ttc);
}
@font-face {
  font-family: GenRyuMin;
  font-weight: 300;
  src: url(../font/GenRyuMin-H.ttc);
}
@font-face {
  font-family: GenRyuMin;
  font-weight: 400;
  src: url(../font/GenRyuMin-L.ttc);
}
@font-face {
  font-family: GenRyuMin;
  font-weight: 500;
  src: url(../font/GenRyuMin-M.ttc);
}
@font-face {
  font-family: GenRyuMin;
  font-weight: 600;
  src: url(../font/GenRyuMin-R.ttc);
}
@font-face {
  font-family: GenRyuMin;
  font-weight: 700;
  src: url(../font/GenRyuMin-SB.ttc);
}
@font-face {
  font-family: GenWanMin;
  font-weight: 200;
  src: url(../font/GenWanMin-EL.ttc);
}
@font-face {
  font-family: GenWanMin;
  font-weight: 300;
  src: url(../font/GenWanMin-L.ttc);
}
@font-face {
  font-family: GenWanMin;
  font-weight: 400;
  src: url(../font/GenWanMin-M.ttc);
}
@font-face {
  font-family: GenWanMin;
  font-weight: 500;
  src: url(../font/GenWanMin-R.ttc);
}
@font-face {
  font-family: GenWanMin;
  font-weight: 600;
  src: url(../font/GenWanMin-SB.ttc);
}
@font-face {
  font-family: GenYoMin;
  font-weight: 100;
  src: url(../font/GenYoMin-B.ttc);
}
@font-face {
  font-family: GenYoMin;
  font-weight: 200;
  src: url(../font/GenYoMin-EL.ttc);
}
@font-face {
  font-family: GenYoMin;
  font-weight: 300;
  src: url(../font/GenYoMin-H.ttc);
}
@font-face {
  font-family: GenYoMin;
  font-weight: 400;
  src: url(../font/GenYoMin-L.ttc);
}
@font-face {
  font-family: GenYoMin;
  font-weight: 500;
  src: url(../font/GenYoMin-M.ttc);
}
@font-face {
  font-family: GenYoMin;
  font-weight: 600;
  src: url(../font/GenYoMin-R.ttc);
}
@font-face {
  font-family: GenYoMin;
  font-weight: 700;
  src: url(../font/GenYoMin-SB.ttc);
}
.footer {
  position: relative;
  top: 40px;
  z-index: 999;
  margin-bottom: 70px;
  width: 100%;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}
.footer:after {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: -2;
  width: 100vw;
  height: 70px;
  background: #c2ab93;
  content: "";
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media only screen and (max-width: 800px) {
  .footer:after {
    width: 100vw;
  }
}
.footer:before {
  position: absolute;
  top: 0;
  right: calc((100vw - 100% - 40px) * -0.5 + 60px);
  z-index: -1;
  width: 100vw;
  height: 100%;
  border-radius: 0 30px 0 0;
  background: rgba(255, 255, 255, 0.6);
  content: "";
}
.footer .container {
  position: relative;
  padding: 65px 0px;
}
@media only screen and (max-width: 1439px) {
  .footer .container {
    max-width: calc(100% - 80px);
  }
}
.footer .container:after {
  position: absolute;
  bottom: 0;
  left: calc(640px + (100vw - 1280px) / 2);
  z-index: -2;
  width: 60%;
  height: 100%;
  background-image: url(../images/wave-03.png);
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
}
.footer .container:before {
  position: absolute;
  right: -100px;
  bottom: -45px;
  z-index: 1;
  z-index: -1;
  width: 60vw;
  height: 18.78vw;
  background-image: url(../images/footer-text-01.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
}
@media only screen and (max-width: 580px) {
  .footer .container:before {
    right: 0px;
    width: 32vw;
    height: 8.78vw;
  }
}
.footer .logo {
  margin-bottom: 215px;
  width: 11.09%;
}
@media only screen and (max-width: 800px) {
  .footer .logo {
    width: 38%;
  }
}
.footer .logo .img {
  padding-bottom: 35.2%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer .contact .title {
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 1.16px;
  line-height: 21px;
  color: rgba(198, 154, 108, 0.8);
}
@media only screen and (max-width: 800px) {
  .footer .contact .title {
    font-size: 13.6px;
  }
}
.footer .contact li {
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 1.16px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 800px) {
  .footer .contact li {
    font-size: 13.6px;
  }
}