@font-face {
  font-family: GenRyuMin;
  font-weight: 100;
  src: url(../font/GenRyuMin-B.ttc);
}
@font-face {
  font-family: GenRyuMin;
  font-weight: 200;
  src: url(../font/GenRyuMin-EL.ttc);
}
@font-face {
  font-family: GenRyuMin;
  font-weight: 300;
  src: url(../font/GenRyuMin-H.ttc);
}
@font-face {
  font-family: GenRyuMin;
  font-weight: 400;
  src: url(../font/GenRyuMin-L.ttc);
}
@font-face {
  font-family: GenRyuMin;
  font-weight: 500;
  src: url(../font/GenRyuMin-M.ttc);
}
@font-face {
  font-family: GenRyuMin;
  font-weight: 600;
  src: url(../font/GenRyuMin-R.ttc);
}
@font-face {
  font-family: GenRyuMin;
  font-weight: 700;
  src: url(../font/GenRyuMin-SB.ttc);
}
@font-face {
  font-family: GenWanMin;
  font-weight: 200;
  src: url(../font/GenWanMin-EL.ttc);
}
@font-face {
  font-family: GenWanMin;
  font-weight: 300;
  src: url(../font/GenWanMin-L.ttc);
}
@font-face {
  font-family: GenWanMin;
  font-weight: 400;
  src: url(../font/GenWanMin-M.ttc);
}
@font-face {
  font-family: GenWanMin;
  font-weight: 500;
  src: url(../font/GenWanMin-R.ttc);
}
@font-face {
  font-family: GenWanMin;
  font-weight: 600;
  src: url(../font/GenWanMin-SB.ttc);
}
@font-face {
  font-family: GenYoMin;
  font-weight: 100;
  src: url(../font/GenYoMin-B.ttc);
}
@font-face {
  font-family: GenYoMin;
  font-weight: 200;
  src: url(../font/GenYoMin-EL.ttc);
}
@font-face {
  font-family: GenYoMin;
  font-weight: 300;
  src: url(../font/GenYoMin-H.ttc);
}
@font-face {
  font-family: GenYoMin;
  font-weight: 400;
  src: url(../font/GenYoMin-L.ttc);
}
@font-face {
  font-family: GenYoMin;
  font-weight: 500;
  src: url(../font/GenYoMin-M.ttc);
}
@font-face {
  font-family: GenYoMin;
  font-weight: 600;
  src: url(../font/GenYoMin-R.ttc);
}
@font-face {
  font-family: GenYoMin;
  font-weight: 700;
  src: url(../font/GenYoMin-SB.ttc);
}
.header {
  padding: 15px 0;
  width: 100%;
  top: 40px;
  z-index: 999;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}
.header:after {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #4b453cd4;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  z-index: -1;
  opacity: 0;
}
.header.fix {
  top: 0px;
}
.header.fix:after {
  top: 0px;
  opacity: 1;
}
@media only screen and (max-width: 1439px) {
  .header.fix:after {
    background: #34312e;
  }
}
.header.fix * {
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  font-size: 100% !important;
}
@media only screen and (max-width: 1439px) {
  .header .container {
    max-width: calc(100% - 80px);
  }
}
.header .logo {
  width: 11.09%;
  min-width: 80px;
}
.header .logo .img {
  width: 100%;
  padding-bottom: 35.2%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media only screen and (max-width: 800px) {
  .header .menu {
    display: none;
  }
}
.header .menu li {
  margin-right: 92px;
}
@media only screen and (max-width: 800px) {
  .header .menu li {
    margin-right: 25px;
  }
}
.header .menu li:last-child {
  margin-right: 0;
}
.header .menu li a {
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 23px;
  letter-spacing: 1.36px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.8);
}
@media only screen and (max-width: 800px) {
  .header .menu li a {
    font-size: 16px;
  }
}
.header .menu li a span {
  top: 24px;
  left: 50%;
  height: 22px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 1;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  pointer-events: none;
  font-weight: 500;
  font-size: 23px;
  letter-spacing: 1.36px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.3);
}
@media only screen and (max-width: 800px) {
  .header .menu li a span {
    display: none;
  }
}
.header .menu li a:hover span {
  top: 20px;
  opacity: 0;
}
.header .burger {
  display: none;
  position: relative;
  cursor: pointer;
}
@media only screen and (max-width: 800px) {
  .header .burger {
    display: block;
  }
}
.header .burger > span {
  display: inline-block;
  position: relative;
  width: 25px;
  height: 2px;
  background-color: white;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.header .burger > span:after, .header .burger > span:before {
  content: "";
  position: absolute;
  top: 8px;
  width: 100%;
  height: 2px;
  background-color: white;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}
.header .burger > span:before {
  top: auto;
  bottom: 8px;
}
.header .burger > span.open {
  background: transparent;
}
.header .burger > span.open:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}
.header .burger > span.open:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 0;
}
.header .burger > ul {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
}
@media only screen and (max-width: 800px) {
  .header .burger > ul {
    top: calc(100% + 15px);
  }
}
.header .burger > ul li {
  white-space: nowrap;
}
.header .burger > ul li a {
  padding: 15px 20px;
  width: 100%;
  min-width: 150px;
  color: black;
  text-align: left;
  background-color: transparent;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.header .burger > ul li a:hover {
  background-color: #fff;
}